body {
  -webkit-overflow-scrolling: touch;
  color: #555;
  background-color: #f2f2f2;
  font-family: "Lato";
  /* OPTIONAL: Google Fonts - base font */
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: "Raleway";
  /* OPTIONAL: Google Fonts - title font */
  font-weight: 300;
}

h1 {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
}

/* Paragraph & Typographic */

p {
  margin-bottom: 25px;
  line-height: 28px;
}

.centered {
  text-align: center;
}

/* Links */

a {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
  word-wrap: break-word;
  color: #1CBCAD;
}

a:hover, a:focus {
  text-decoration: none;
  color: #7b7b7b;
  outline: 0;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

p {
  text-align: justify;
}

ul {
  padding-left: 0;
  list-style-position: inside;
}

.item {
  padding-left: 15px;
}

.skills {
  /*background: LightGrey;*/
  background: Gainsboro;
}

.img-responsive {
  /* opacity: 0.75;
      filter: alpha(opacity=50); */
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  border: 2px solid Gray;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.img-responsive:hover {
  /* opacity: 1.0;
      filter: alpha(opacity=100); /* For IE8 and earlier */
  -webkit-transform: scale(1.2);
  transform: scale(1.07);
}

/*---------------------------------------------------
  SECTION WRAPS
---------------------------------------------------*/

/* Header Wrap */

.header {
  width: 100%;
  min-height: 500px;
  padding-top: 140px;
  text-align: center;
  background: #1CBCAD;
  background: url(../images/headerbg.jpg) no-repeat center top;
  background-attachment: relative;
  background-position: center center;
  -webkit-background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: 100%;
  -o-background-size: cover;
  background-size: 100%;
  background-size: cover;
}

.header h1 {
  padding: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  font-size: 80px;
}

.header h3 {
  color: white;
  font-size: 20px;
}

.header h3 a {
  color: #fff;
}

/* About Wrap */

.about {
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
  background: #2c3e50;
}

h5 {
  font-weight: bold;
}

.about h5, p {
  color: white;
}

.about i {
  padding-right: 8px;
  vertical-align: middle;
  color: white;
  font-size: 20px;
}

.footer {
  padding: 20px;
  background: #2f2f2f;
}

.footer p {
  color: white;
}

.footer h5 {
  color: white;
}

.footer t {
  font-weight: 700;
}

/* social icons: */

.footer i {
  padding-right: 8px;
  /*color: #1abc9c;*/
}

/* Global Values */

.desc {
  padding-top: 50px;
}

.desc p {
  color: #2f2f2f;
}

.desc t {
  color: #34495e;
  font-weight: 700;
}

.desc imp {
  padding: 6px;
  color: white;
  background: #34495e;
}

.desc more {
  color: #616669;
}

sm {
  font-size: 12px;
}

/*.desc .col-lg-3 {
  text-transform: uppercase;
}*/

.container .row p.tight {
  margin-bottom: 10px;
}

/* define some CSS3 animations: */

body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* 1 */

@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes fadeInUp {
  0% {
    -moz-transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}

@-o-keyframes fadeInUp {
  0% {
    -o-transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -o-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
