* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: #f2f1ed;
}

.container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: linear-gradient(to right, rgb(131, 12, 101), rgb(241, 52, 194), rgb(241, 52, 194), rgb(131, 12, 101));
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    overflow: hidden;
}

.heading {
    color: #fff;
}

.mainHeading {
    font-size: 55px;
}

.subHeading {
    font-size: 24px;
}

.subTitle {
    margin-top: 30px;
    font-size: 45px;
    color: #380330;
}

.header {
    margin: 13vh auto;
}

.wrapper {
    flex-direction: column;
    margin: 0 20vw;
}

.adjustMargin {
    margin-bottom: 18px;
}

.profilePic {
    flex: 2;
    margin: auto;
    align-items: center;
}

.profilePic img {
    border-radius: 50%;
    width: 160px;
    height: 180px;
}

.description {
    flex: 3;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 5px;
    line-height: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

a {
    text-decoration: none;
    color: white;
}

.sec1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.job {
    width: 85%;
    margin: 20px auto;
    border-radius: 5px;
    border: 2px solid grey;
    padding: 20px;
    flex: 1;
    background-color: #fff;
}

.job h3 {
    color: #380330;
}

.btn {
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    border: 1px solid rgb(131, 12, 101);
    border-radius: 50px;
    padding: 10px 28px;
    display: inline-block;
    margin-bottom: 5px;
    color: #380330;
    transition: 0.4s;
    cursor: pointer;
    background-color: #f2f1ed;
}

.btn:hover {
    transition: .3s;
    box-shadow: 1px 1px rgb(131, 12, 101);
    color: #f2f1ed;
    background-color: #380330;
}

.button {
    color: #fff;
    border: solid 2px #fff;
    background-color: rgb(131, 12, 101);
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    justify-content: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.button:hover {
    color: rgb(131, 12, 101);
    background-color: white;
}

.scrollBtn {
    color: white;
    font-size: 100px;
    background: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.4s;
    cursor: pointer;
}

.scrollBtn:hover {
    font-size: 104px;
    color: bisque;
}

.scrollBtnDiv {
    margin-top: 40px;
}

.answerDiv {
    padding: 12px 0px;
}

.job ul {
    margin-left: 30px;
}

.footer {
    background: linear-gradient(to right, rgb(131, 12, 101), rgb(241, 52, 194), rgb(241, 52, 194), rgb(131, 12, 101));
    width: 100%;
    font-size: 20px;
    margin-top: 30px;
}

.footer ul {
    display: flex;
    justify-content: center;
}

.footer ul li {
    margin: 10px;
    list-style: none;
}

.linkMargin {
    padding-top: 15px;
}

footer a {
    text-decoration: none;
    margin: auto;
    background-color: transparent;
}

@media(max-width:1020px) {
    .about {
        flex-direction: column;
        margin: 10px;
    }
    .wrapper {
        margin: 0 9vw;
    }
    .header {
        margin: 11vh auto;
    }
    .profilePic {
        margin: 100px auto 20px auto;
    }
    .profilePic img {
        margin-bottom: 10px;
        width: 110px;
        height: 120px;
    }
    .mainHeading {
        font-size: 45px;
    }
    .subHeading {
        font-size: 20px;
    }
    .description {
        font-size: 14px;
    }
    .scrollBtnDiv {
        margin-top: 15px;
    }
}

@media(max-width:600px) {
    .header {
        margin: 10vh auto;
    }
    .wrapper {
        margin: 0 8vw;
    }
    .mainHeading {
        font-size: 36px;
    }
    .subHeading {
        font-size: 16px;
    }
    .scrollBtnDiv {
        margin-top: 20px;
    }
}

@media(max-width:350px) {
    .header {
        margin: 1vh auto;
    }
    .wrapper {
        margin: 0 5vw;
    }
    .scrollBtnDiv {
        margin: 0px;
    }
}